@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.page1 {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
    overflow: hidden;
}

.page1 h3 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    margin-right:0%;
    font-size: 2rem;
    color:green;
}

.page1 .animation {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.page1-img {
    width: 70%;
    position: relative;
    perspective: 1200px;
}

.page1-img img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}


.page1 button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    background-color: green;
    color: white;
    padding: 12px 25px;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (max-width: 1024px) {
    .page1-img {
        width: 70%;
    }
}

@media screen and (max-width: 800px) {
    .page1-img {
        width: 80%;
    }

    .page1 button {
        font-size: 1.5rem;
        padding: 10px 20px;
    }

    .page1 .animation {
        flex-direction: column;
    }

    .page1 h3 {
        font-size: 1.5rem;
    }
}
